@model PasswordGenerator.Models.UserAccount

@{
    ViewBag.Title = "Register";
}

@section Scripts {
 

    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.8/dist/clipboard.min.js"></script>

    <script>
        new Clipboard('.btn');
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}

<h2>Welcome</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Generate a Password</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Message != null)
        {
            <div class="form-group">
            @if (Model != null)
            { <p>Here is your password: <b id="password">@Model.Password</b> <button class="btn" data-clipboard-target="#password">Copy to clipboard</button></p>}
                <p>Your password will only be valid for 30 seconds.</p>
                <p id="validate">Please click @Html.ActionLink("here", "Validate", "Account", new { model = Model }, null) to check if your password is still valid</p>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generate new Password" class="btn btn-default" />
            </div>
        </div>
    </div>
}

