@model PasswordGenerator.Models.UserAccount

@{
    ViewBag.Title = "Register";
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}
    <div>
    @using (Html.BeginForm())
    {
        if (ViewBag.Message != null)
        {
            if (ViewBag.Message == "invalid")
            {
                <div class="form-group">
                    <div class="col-md-10 text-danger">Your password is @ViewBag.Message please enter the correct password.</div>
                </div>
                <br />
            }
            else if (!Model.ValidPassword)
            {
                <div class="form-group">
                    <div class="col-md-10 text-danger">@ViewBag.Message @Html.ActionLink("here", "Edit","Account", new { userId = Model.UserId }, null)</div>
                </div>
                <br />
            }
            else
            {
                <div class="form-group">
                    <div class="col-md-10">@ViewBag.Message</div>
                    <br />
                    <div class="col-md-10">Press @Html.ActionLink("here", "Edit","Account", new { userId = Model.UserId }, null) to go back to the previous page.</div>
                </div>
                <br />
            }
        }
        
        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Validate" class="btn btn-default" />
            </div>
        </div>
    }
    </div>
